.quiz {
    padding: 0 15px;
}
.quiz__inner {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid var(--invalid);
    margin-bottom: 1rem;
}

.quiz__question {
    width: 100%;
    color: var(--text);
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 1rem;
}
.quiz__answers {
    display: flex;
    gap: 4rem;
    margin-bottom: 1rem;
}
.quiz__answer {
    padding: 0.4rem 1.5rem;
    border: 1px var(--text) solid;
    background-color: transparent;
    border-radius: 10px;
    color: var(--text);
}
